$secondary-color: #FFCB21;

.ChangePassword {
    // width: 100%!important;
    padding: 0 22rem;
    padding-top: 150px;

    input[type=password] {
        color: rgba(0, 0, 0, 0.4);
    }

    .btn-save {
        background: $secondary-color;
        border-radius: 5px;
        border: 0;
        padding: 6px 2.5rem;
        cursor: pointer;
        font-family: Roboto;
        font-weight: 500;
        line-height: 19px;
        color: #313131;

        &:hover {
            background: darken($secondary-color, 15%);
        }
    }
}