.CategoryText {
    font-family: Roboto;
    font-size: 18px!important;
    line-height: 21px!important;
    font-weight: normal;
    padding-top: 3px!important;
    padding-bottom: 3px!important;
    color: rgba(0, 0, 0, 0.5);
}