$secondary-color: #FFCB21;

@mixin tagStyle {
    margin-top: 4rem!important;
}

@mixin descriptionStyle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.03em;

    /* 70% */

    color: rgba(0, 0, 0, 0.7);
}

@mixin priceStyle {
    height: 26px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
}

@mixin cardTitle {
    text-align: center;
    font-family: Roboto;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: rgba(0, 0, 0, 0.8);
}

@mixin buttonStyle {
    $background-color: #ffffff;
    background: $background-color;
    /* #C4C4C4 - Mid Grey 3 */
    width: 100%;
    height: 3rem;
    cursor: pointer;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background: darken($background-color, 15%);
    }
}
.ExpertCard {
    position: relative;
    background: #ffffff;
    border-radius: 10px;
    height: fit-content;
    padding: 1rem;

    &.grid-view {
    
        img {
            width: 112px;
            height: 112px;
            border-radius: 50%;
            margin-bottom: 1rem;
            margin-left: 3rem;
        }
    
        .num-of-customers {
            color: $secondary-color;
            font-size: 13px;
            line-height: 15px;
            letter-spacing: 0.03em;
            font-family: Roboto;
        }
    
        .content {
            margin-top: 1rem;
            margin-bottom: 2rem;
            text-align: center;
    
            p {
                font-family: Roboto;
                font-weight: normal;
                font-size: 13px;
                line-height: 15px;
                letter-spacing: 0.03em
            }
        }
    
        i {
            font-size: 3rem;
        }
    
        .price {
            position: absolute;
            @include priceStyle;
            right: 1em;
            top: 3px;
        }
    
        button.btn-call {
           @include buttonStyle;
        }
    
        .card-title {
            @include cardTitle;
            margin-bottom: 1rem;
        }
    
        p.text-muted {
            color: rgba(0, 0, 0, 0.4);
            text-align: center
        }
    }

    &.list-view {
        height: 200px;
        .card-image {
            margin-top: 2rem;
        }

        img {
            width: 112px;
            height: 112px;
            border-radius: 50%;
            margin-bottom: 0.2rem!important;
        }

        .card-title {
            margin-bottom: 0!important;
            @include cardTitle();
            text-align: left;
        }

        p.text-muted {
            color: rgba(0, 0, 0, 0.4);
            text-align: left
        }

        button.btn-call {
            @include buttonStyle();
        }

        .price {
            text-align: center;
            @include priceStyle();
        }

        .rating-container {
            position: relative;
            i   {
                font-size: 2.8rem;
                display: inline;
            }
            
            span {
                position: absolute;
                top: 1.5rem;
                right: 0.5rem;
                color: rgba(0, 0, 0, 0.7);
                font-family: Roboto;
                font-size: 14px;
                line-height: 25px;
                /* or 179% */

                letter-spacing: 0.05em;
            }
        }

        .description {
            @include descriptionStyle;
        }

        .tags {
            @include tagStyle;
        }
    }
}