$bg-color: #343434;
.Footer {
    padding: 0 2rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
    margin: 0;
    position: relative;
    bottom: 0;
    background-color: $bg-color;

    .newsletter-form {
        display: flex;
    }

    .email-input {
        border-radius: 6px;
        padding-left: 2px;
        color: white;
        border: none!important;
        background: #3D3D3D!important;
        width: 13rem!important;

        &:focus {
            border: none!important;
            border-bottom: none!important;
        }

        &::placeholder {
            padding-left: 10px;
            color: ligthen($bg-color, 50%);
        }
    }
}