$primary-color: #F9F9F9;
$secondary-color: #FFCB21;
$sidebar-width: 250px;
$sidebar-height: 700px;
$sidebar-font-color: rgba(0, 0, 0, 0.4)!important;

.Sidenav {
    float: left;
    margin-left: 2px;
    background: $primary-color;
    width: $sidebar-width;
    // min-height: $sidebar-height;
    height: 1500px!important;
    min-height: $sidebar-height;
    max-height: auto!important;
    color: $sidebar-font-color;
    // box-shadow: none;

    .active {
        color: $secondary-color!important;
    }

    ul {
        padding-top: 4rem;
        li {
            float: none;
            
            a {
                padding-left: 2rem;
                color: $sidebar-font-color;
            }
        }
    }
}