.PaymentTable {
    width: 100%;

    
    thead {
        background: #F0F0F0;
    }

    th {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.03em;

        color: rgba(0, 0, 0, 0.7);
    }

    td {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.03em;

        color: rgba(0, 0, 0, 0.5);
    }
}